<head>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <title>Ben Israeli Private Tutoring</title>
</head>

<body ng-app="app">
  <div ng-controller="Ctrl">
    <section
      class="mobileNav-content"
      ng-if="isOpen">
      <p
        class="mobileNav-link"
        ng-class="{'is-active': activeSection == 'about'}"
        ng-click="goToSection('about')">About
      </p>

      <p
        class="mobileNav-link"
        ng-class="{'is-active': activeSection == 'approach'}"
        ng-click="goToSection('approach')">Approach
      </p>

      <!-- <p
        class="mobileNav-link"
        ng-class="{'is-active': activeSection == 'range'}"
        ng-click="goToSection('range')">Range
      </p> -->

      <p
        class="mobileNav-link"
        ng-class="{'is-active': activeSection == 'contac'}"
        ng-click="goToSection('contact')">Contact
      </p>

      <p
        class="mobileNav-link"
        ng-class="{'is-active': activeSection == 'clients'}"
        ng-click="goToSection('clients')">Clients
      </p>
    </section>

    <div class="header-wrapper">
      <header class="header">
        <div class="header-button" ng-click="goToSection('about')">
          <h1>Ben Israeli</h1>
          <h2>Private Tutor &amp; Learning Specialist</h2>
        </div>

        <div class="mobileNav">
          <div
            style="outline:0;"
            ng-click="toggleMobileNav()">
            <span
              class="fa fa-bars"
              ng-if="!isOpen"></span>
            <span
              class="fa fa-times"
              ng-if="isOpen"></span>
          </div>
        </div>

        <div class="nav">
          <p
            class="nav-link"
            ng-click="goToSection('about')"
            ng-class="{'is-active': activeSection == 'about'}">
            About
          </p>
          <p
            class="nav-link"
            ng-click="goToSection('approach')"
            ng-class="{'is-active': activeSection == 'approach'}">
              Approach
          </p>
          <!-- <p
            class="nav-link"
            ng-click="goToSection('range')"
            ng-class="{'is-active': activeSection == 'range'}">
            Range
          </p> -->
          <p
            class="nav-link"
            ng-click="goToSection('contact')"
            ng-class="{'is-active': activeSection == 'contact'}">
            Contact
          </p>
          <p
            class="nav-link"
            ng-click="goToSection('clients')"
            ng-class="{'is-active': activeSection == 'clients'}">
            Clients
          </p>
        </div>
      </header>
    </div>

    <div class="container">
      <main class="main">
        <section
          ng-if="activeSection == 'about'"
          class="content">
          <div class="content-image">
            <img src="/img/ben.jpg">
          </div>

          <p class="content-text-large">
            Ben Israeli offers a 360° tutoring solution to enhance quantitative and language skills for great test prep results and year-round academic success.
          </p>

          </br>

          <p class="content-text">
            Ben provides high school math (algebra, geometry, precalculus, calculus, statistics), biology (SAT II and AP), chemistry (SAT II and AP), Spanish (SAT II), and SAT, ACT, and SAT II Subject Tests tutoring. He can also teach Exeter Math.
            Every session is one-to-one with Ben personally. Ben fully customizes his teaching style to his student’s learning style. Ben only takes on a limited number of students per year and families make a commitment to working with Ben at his office, at home, or online. Students will receive various licenses to learning websites, which Ben uses to manage student-progress outside of session.
          </p>

          <div class="button-container">
            <button
              class="button button--primary"
              ng-click="showContactDialog()">
              Get in touch
            </button>
          </div>
        </section>

        <section
          ng-if="activeSection == 'approach'"
          class="content">
          <p class="content-text">
            Mr. Israeli approaches education from many angles,
            structuring sessions to advance the student on a learning track tailored
            to his/her learning needs. Key to Ben's teaching philosophy is soliciting the student’s
            active, consistent engagement in the learning process. The goal is each
            student’s management of his/her learning.
          </p>

          <blockquote>
            “What is extremely gratifying to me is organizing content
            for my students that accelerates their learning. Taking into account each student’s
            unique profile helps determine which exercises will make our sessions most dynamic and
            impactful, while allowing us to maximize the probability of a successful learning outcome.
            When students engage in a way that helps them understand what learning can feel like, then
            my job is done.”
          </blockquote>

          <p class="content-text">
            Mr. Israeli offers regular session hours, as well as weekend and online
            appointments.
          </p>

          <p class="content-text">
            Ben Israeli graduated from New York University in 2009 with a degree in Economics and
            English &amp; American Literature. He has been a full-time tutor since 2010.
          </p>

          <div class="button-container">
            <button class="button button--primary" ng-click="showContactDialog()">Get in touch</button>
          </div>
        </section>


        <section
          ng-if="activeSection == 'contact'"
          class="content">

          <form
            class="form"
            name="contactForm">
            <div class="half">
              <div class="input-wrapper">
                <h5>Name</h5>
                <input
                  class="input"
                  type="text"
                  name="name"
                  ng-model="contact.name"
                  placeholder="Name"
                  required/>
              </div>

              <div class="input-wrapper">
                <h5>Email</h5>
                <input
                  class="input"
                  type="email"
                  name="email"
                  ng-model="contact.email"
                  placeholder="Email"
                  required/>
                  <span class="error" ng-show="contactForm.email.$error.email">
                    Not valid email!
                  </span>
              </div>

              <div class="input-wrapper">
                <h5>Phone Number</h5>
                <input
                  class="input"
                  type="tel"
                  name="phone"
                  placeholder="Phone Number"
                  ng-model="contact.phone"/>
              </div>
            </div>

            <div class="input-wrapper half">
              <h5>What do you expect to get from your educational support?</h5>
              <textarea
                class="textarea"
                placeholder="What do you expect to get from your educational support?"
                ng-model="contact.message"
                name="message"></textarea>
            </div>
          </form>

          <div class="form-submit">
            <button
              class="button button--send"
              ng-click="submit()">
              Submit
            </button>
          </div>

          <div class="intrinsic-container intrinsic-container-16x9 intrinsic-container-4x3">
            <iframe
              style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAmXqoAqhew5CgVd4NPaNGlh4eitYDwTZo&q=315+W+36th+St+New York,+NY+10018"
              allowfullscreen>
            </iframe>
          </div>

        </section>


        <section
          ng-if="activeSection == 'clients'"
          class="content">
          <iframe
            src="https://learnwithben.youcanbook.me/?noframe=true&skipHeaderFooter=true"
            id="ycbmiframelearnwithben"
            style="width:100%;height:1000px;border:0px;background-color:transparent;"
            frameborder="0"
            allowtransparency="true">
          </iframe>
          <script>window.addEventListener && window.addEventListener("message", function(event){if (event.origin === "https://learnwithben.youcanbook.me"){document.getElementById("ycbmiframelearnwithben").style.height = event.data + "px";}}, false);</script>

          <div class="button-container">
            <button
              class="button button--primary"
              ng-click="showContactDialog()">
              Get in touch
            </button>
          </div>
        </section>
      </main>
    </div>
</body>
