.about {
  @media (min-width: 768px) {
    .content-image {
      height: 280px !important;
      width: 280px !important;
    }
  }

  .content-image {
    float: left;
    margin: 0 1rem .25rem 0;
    height: 140px;
    width: 140px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .content-text-large {
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    line-height: 45px;
    font-weight: 600;
  }

  .content-text {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    line-height: 26px;
    margin-bottom: 3rem;
  }
}
